<!DOCTYPE html>
<html>
    <head>
        <title>File Metadata Microservice</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"/>
        <link rel="stylesheet" href="css/main.css"/>
    </head>
    <body>
        <div class="container">
            <h1>File Metadata Microservice</h1>
            <br/>
            <form class="form-group" method="post" enctype="multipart/form-data" action="/">
                <input class="form-control" type="file" name="archive"/>
                <br/>
                <input class="btn btn-default" id="submit" type="submit"/>
            </form>
        </div>
    </body>
</html>